.body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:30px;
}

img {
    max-width: 100%;
}

.container-all {
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transform: all 600ms;
    animation-name: autoplay;
    animation-duration: 15s;
    animation-direction: alternate;
    /*va y regresa la imagen */
    animation-fill-mode: forwards;
    /*para que inicie desde la primera imagen*/
    animation-iteration-count: infinite;
    /*la animacion sera infinita*/
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10PX;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked~.slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
    background: #fff;
}

input[id="2"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
    background: #fff;
}

input[id="3"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
    background: #fff;
}


input[id="4"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"] {
    background: #fff;
}

input[id="5"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}

input[id="5"]:checked ~ .pagination .pagination-item[for="5"] {
    background: #fff;
}
input[id="6"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 5), 0, 0);
}

input[id="6"]:checked ~ .pagination .pagination-item[for="6"] {
    background: #fff;
}
input[id="7"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 6), 0, 0);
}

input[id="7"]:checked ~ .pagination .pagination-item[for="7"] {
    background: #fff;
}

input[id="8"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 7), 0, 0);
}

input[id="8"]:checked ~ .pagination .pagination-item[for="8"] {
    background: #fff;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transform: all 600ms;
    animation-name: autoplay;
    animation-duration: 40s; /* Cambio de duración a 40 segundos */
    animation-direction: alternate;
    /*va y regresa la imagen */
    animation-fill-mode: forwards;
    /*para que inicie desde la primera imagen*/
    animation-iteration-count: infinite;
    /*la animacion sera infinita*/
}

@keyframes autoplay {
    0%, 12.5% {
        transform: translate3d(calc(-100% * 0), 0, 0); /* Primera imagen */
    }

    12.5%, 25% {
        transform: translate3d(calc(-100% * 1), 0, 0); /* Segunda imagen */
    }

    25%, 37.5% {
        transform: translate3d(calc(-100% * 2), 0, 0); /* Tercera imagen */
    }

    37.5%, 50% {
        transform: translate3d(calc(-100% * 3), 0, 0); /* Cuarta imagen */
    }

    50%, 62.5% {
        transform: translate3d(calc(-100% * 4), 0, 0); /* Quinta imagen */
    }

    62.5%, 75% {
        transform: translate3d(calc(-100% * 5), 0, 0); /* Sexta imagen */
    }

    75%, 87.5% {
        transform: translate3d(calc(-100% * 6), 0, 0); /* Séptima imagen */
    }

    87.5%, 100% {
        transform: translate3d(calc(-100% * 7), 0, 0); /* Octava imagen */
    }
}



}